---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import TechStack from '../components/TechStack.astro';
import Value from '../components/Value.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Services />
    <TechStack />
    <Value />
    <About />
  </main>
  <Footer />
</Layout>
